#### Jibril Standalone Config File.

run-time:
  log-level: info
  profiler: false
  health: true
  metrics: false
  cardinal: true
  stdout: stdout
  stderr: stderr

#### Cadences.

cadences:
  env-vars: 6
  file-access: 6
  network-peers: 6
  network-flows: 15

#### Caches.

caches:
  rec-tasks: 32
  tasks: 64
  cmds: 32
  args: 32
  files: 32
  dirs: 16
  bases: 32
  task-file: 32
  file-task: 32
  task-ref: 32
  flows: 32
  task-flow: 32
  flow-task: 32
  flow-ref: 32

#### Functionalities.

functionalities:
  - jibril # core jibril functionality (required).

#### features.

features:
  - hold # hold agent execution until ctrl+c (or SIGINT).
  - procfs # enrich running tasks with procfs info at startup.
  - detect # enable the detection feature.
  # - alchemies # use custom detection recipes (see below).
  - enricher # enrich events with container information.
  - netpolicy # enforce network policy using netpolicy.yaml.
  # - attenuator # AI-powered event and noise reduction.
  - github # github integration.

feature_options:
  netpolicy:
    file: /etc/jibril/netpolicy.yaml
  github:
  detect:
  attenuator:
    enabled: true
    url: https://api.openai.com/v1/chat/completions
    port: 443
    model: gpt-4o
    temp: 0.3
    mode: amend
  alchemies:
    builtin:
      enabled: true

#### Printers.

printers:
  # - stdout # Standard output printer.
  # - varlog # Variable log printer.
  - garnet # Garnet dashboard printer.

printer_options:
  stdout:
    raw: false
  varlog:
    raw: true
    file: /var/log/jibril.out
  garnet:
    error_log_rate: 2m

#### Events.

events:
  # Informational events about network policy applied.
  - dropip
  # Informational events about network flows.
  - flow
  # Detection recipes for file access patterns.
  # - file_example
  - auth_logs_tamper
  - binary_self_deletion
  - capabilities_modification
  - code_modification_through_procfs
  - core_pattern_access
  - cpu_fingerprint
  - credentials_files_access
  - crypto_miner_files
  - environ_read_from_procfs
  - filesystem_fingerprint
  - global_shlib_modification
  - java_debug_lib_load
  - java_instrument_lib_load
  - machine_fingerprint
  - os_fingerprint
  - os_network_fingerprint
  - os_status_fingerprint
  - package_repo_config_modification
  - pam_config_modification
  - sched_debug_access
  - shell_config_modification
  - ssl_certificate_access
  - sudoers_modification
  - sysrq_access
  - unprivileged_bpf_config_access
  # Detection recipes for execution patterns.
  # - exec_example
  - binary_executed_by_loader
  - code_on_the_fly
  - credentials_text_lookup
  - crypto_miner_execution
  - data_encoder_exec
  - denial_of_service_tools
  - exec_from_unusual_dir
  - file_attribute_change
  - hidden_elf_exec
  - interpreter_shell_spawn
  - net_filecopy_tool_exec
  - net_mitm_tool_exec
  - net_scan_tool_exec
  - net_sniff_tool_exec
  - net_suspicious_tool_exec
  - passwd_usage
  - runc_suspicious_exec
  - webserver_exec
  - webserver_shell_exec
  # Detection recipes for environment variables patterns.
  - dynamic_linker_attacks
  # Detection recipes for network peers patterns.
  # - peer_example
  - adult_domain_access
  # - algorithmic_domains
  - algorithmic_domains_light
  - badware_domain_access
  - cloud_metadata_access
  - dyndns_domain_access
  - fake_domain_access
  # - gambling_domain_access
  - gambling_domain_access_light
  # - general_new_domains
  - general_new_domains_light
  # - phishing_domains
  - phishing_domains_light
  - piracy_domain_access
  - plaintext_communication
  # - threat_domain_access
  - threat_domain_access_light
  # - threat_domain_access_medium
  - tracking_domain_access
  - vpnlike_domain_access
