#### Jibril Standalone Config File.

run-time:
  log-level: simple
  profiler: false
  health: true
  metrics: false
  cardinal: true
  stdout: stdout
  stderr: stderr

#### Cadences.

# Cadences are the intervals at which patterns are detected.
# https://jibril.garnet.ai/installation/configuration-file/cadence-configuration

cadences:
  file-access: 3
  network-peers: 3
  network-flows: 3
  env-vars: 3

#### Caches.

# Caches are both the kernel maps and the in-memory caches for OS resources.
# https://jibril.garnet.ai/installation/configuration-file/cache-configuration

caches:
  rec-tasks: 32
  tasks: 64
  cmds: 32
  args: 32
  files: 32
  dirs: 16
  bases: 32
  task-file: 32
  file-task: 32
  task-ref: 32
  flows: 32
  task-flow: 32
  flow-task: 32
  flow-ref: 32

#### Functionalities.

# Functionalities are the core components (extensions) that are enabled.
# https://jibril.garnet.ai/installation/configuration-file/functionality-configuration

functionalities:
  - jibril

#### Features.

# Features are the components that are enabled or disabled.
# https://jibril.garnet.ai/installation/configuration-file/feature-configuration

features:
  - hold
  - procfs
  - netpolicy
  - detect

feature_options:
  netpolicy:
    file: /etc/loader/netpolicy.yaml
  detect:

#### Printers.

# Printers are the components that are used to print the output.
# https://jibril.garnet.ai/installation/configuration-file/printer-configuration

printers:
  - garnet

printer_options:
  garnet:
    error_log_rate: 2m

#### Events.

events:
  # Network Policy
  - dropip
  - flow
  # Detection Events
  - code_on_the_fly
  - interpreter_shell_spawn
  - webserver_exec
  - webserver_shell_exec
  - hidden_elf_exec
  - sudoers_modification
